﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="OpenRepository.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OldBox</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link href="Content/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <form runat="server">
        <div class="container">
            <nav class="navbar navbar-default navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="Default.aspx">Thesis Old Box</a>
                    </div>
                    <div class="navbar-form navbar-left">
                        <div class="form-group">
                            <asp:TextBox ID="SearchTextBox" CssClass="form-control" runat="server" placeholder="Buscar"></asp:TextBox>
                        </div>
                        <asp:Button ID="SearchBtn" runat="server" CssClass="btn btn-default" Text="Buscar" OnClick="SearchBtn_Click" />
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <asp:HyperLink ID="HyperLinkLogin" runat="server" href="#" data-toggle="modal" data-target="#login-modal">Iniciar Sesión</asp:HyperLink>
                        </li>
                        <li>
                            <asp:HyperLink ID="HyperLinkRegistro" runat="server" href="Registro.aspx">Registrarse</asp:HyperLink>
                        </li>
                    </ul>

                    <!-- boton de sesion -->
                    <div id="SesionDiv" class="nav navbar-form navbar-right" runat="server">
                        <div class="btn-group">
                            <asp:Button ID="BtnPerfil" runat="server" class="btn btn-default" Text="<span aria-hidden='true' class='glyphicon glyphicon-refresh'></span>" OnClick="BtnPerfil_Click" />
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="estadisticasPageLink" runat="server" visible="false">
                                    <asp:HyperLink ID="estadisticasLink" runat="server" NavigateUrl="~/Estadisticas.aspx">Estadisticas</asp:HyperLink>
                                </li>
                                <li id="adminPageLink" runat="server" visible="false">
                                    <asp:HyperLink ID="adminLink" runat="server" NavigateUrl="~/Admin.aspx">Administración</asp:HyperLink>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <asp:LinkButton ID="lnkLogoutUser" runat="server" OnClick="lnkLogoutUser_Click">Cerrar Sesión</asp:LinkButton>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
            <div id="AlertErrorLoginDiv" class="pull-right alert alert-danger" runat="server">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Nombre de usuario o clave incorrecto.
            </div>

            <!-- VENTANA LOGIN - Css en /css/styles.css-->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <h1>Iniciar Sesión</h1>
                        <br />
                        <div id="login">
                            <asp:TextBox ID="username" runat="server" placeholder="Usuario"></asp:TextBox>
                            <asp:TextBox ID="password" type="password" runat="server" placeholder="Clave"></asp:TextBox>
                            <asp:Button ID="BtnLogin" runat="server" Text="Iniciar Sesión" CssClass="login loginmodal-submit" OnClick="BtnLogin_Click" />
                        </div>
                    </div>
                </div>
            </div>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                <!-- ACA APARECE LO DE LAS OTRAS PAGINAS -->
            </asp:ContentPlaceHolder>

            <!-- ACA VA EL PIE DE PAGINA -->
        </div>
    </form>

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/fileinput.min.js"></script>
</body>
</html>
